.outercontainer {
  height: 100vh;
  width: 100vw;
  background-color: blue;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.bodybutton {
  height: 20vh;
  width: 20vw;
  background-color: whitesmoke;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
